<?php
//Definisikan
define('APPNAME','Hotspot Manager');

//Konsta MySQL/MariaDB Information
define('HOST_URL', "localhost");
define('HOST_USER', "root");
define('HOST_PASSWORD', "");
define('HOST_DB', "radius");

?>
