<?php
//Definisikan
define('APPNAME','Hotspot Manager');
define('NAMA_SEKOLAH','NAMA SEKOLAH');
define('AKTIV_CODE', 'KOMUNITI2017');


//Konsta MySQL/MariaDB Information
define('HOST_URL', "localhost");
define('HOST_USER', "root");
define('HOST_PASSWORD', "");
define('HOST_DB', "radius");

?>
